In [80]:
import pandas as pd
import statistics as stat
from scipy import stats
import numpy as np

In [70]:
df = pd.read_csv(r"/Users/shripalshah/Desktop/dataset1.csv")  #loading the data into dataframe

In [71]:
df

,Code,Code (death-rates-from-air-pollution.csv),Code (death-rates-total-air-pollution.csv),Code (share-deaths-air-pollution.csv),Entity,Entity (death-rates-from-air-pollution.csv),Entity (death-rates-total-air-pollution.csv),Entity (share-deaths-air-pollution.csv),Year,Year (death-rates-from-air-pollution.csv),...,Low physical activity,No access to handwashing facility,Non-exclusive breastfeeding,Outdoor air pollution,Secondhand smoke,Smoking,Unsafe sanitation,Unsafe sex,Unsafe water source,Vitamin A deficiency
0,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1990,1990.0,...,4221.303183,5412.314513,3221.138842,4383.83,4234.808095,6393.667372,5887.747628,387.167582,7554.049543,9344.131952
1,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1991,1991.0,...,4252.630379,5287.891103,3150.559597,4426.36,4219.597324,6429.253320,5732.770160,394.448285,7359.676749,9330.182378
2,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1992,1992.0,...,4347.330897,5506.657363,3331.349048,4568.91,4371.907968,6561.054957,5954.804987,422.453302,7650.437822,9769.844533
3,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1993,1993.0,...,4465.137670,7104.620351,4477.006100,5080.29,4863.558517,6731.972560,7986.736613,448.328317,10270.731380,11433.769490
4,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1994,1994.0,...,4566.650504,8051.515953,5102.622054,5499.23,5292.379854,6889.328118,8863.010065,464.506355,11409.177110,12936.955860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,ZWE,ZWE,ZWE,ZWE,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,2013,2013.0,...,802.972841,3913.210510,1037.968042,2053.58,1836.040235,9099.552194,2977.649750,29267.652460,4254.282075,1130.714398
6464,ZWE,ZWE,ZWE,ZWE,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,2014,2014.0,...,800.250463,3809.245683,972.886327,2030.92,1802.275809,8902.223776,2856.426187,22836.672280,4098.769691,1094.267123
6465,ZWE,ZWE,ZWE,ZWE,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,2015,2015.0,...,801.397484,3688.442102,912.248164,1994.91,1774.522841,8818.570004,2717.735794,19332.284740,3921.291358,1068.810953
6466,ZWE,ZWE,ZWE,ZWE,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,2016,2016.0,...,810.425551,3603.179799,875.706009,2030.88,1761.316182,8758.486720,2624.315858,16942.697760,3802.257512,950.215259
6467,ZWE,ZWE,ZWE,ZWE,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,2017,2017.0,...,823.436733,3579.352078,866.902012,2112.19,1755.599784,8714.714332,2612.122560,15014.257910,3796.070615,882.986667

# Data Cleaning

In [72]:
#editing the column name
df.columns

Index(['Code', 'Code (death-rates-from-air-pollution.csv)',
       'Code (death-rates-total-air-pollution.csv)',
       'Code (share-deaths-air-pollution.csv)', 'Entity',
       'Entity (death-rates-from-air-pollution.csv)',
       'Entity (death-rates-total-air-pollution.csv)',
       'Entity (share-deaths-air-pollution.csv)', 'Year',
       'Year (death-rates-from-air-pollution.csv)',
       'Year (death-rates-total-air-pollution.csv)',
       'Year (share-deaths-air-pollution.csv)', 'Air pollution',
       'Air pollution (total) (IHME, 2019)', 'Alcohol use', 'Child stunting',
       'Child wasting',
       'Deaths - Air pollution - Sex: Both - Age: Age-standardized (Rate)',
       'Deaths - Air pollution - Sex: Both - Age: Age-standardized (Rate) (death-rates-total-air-pollution.csv)',
       'Deaths - Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)',
       'Deaths - Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)',
       'Deaths - Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)',
       'Diet high in sodium', 'Diet low in fruits',
       'Diet low in nuts and seeds', 'Diet low in vegetables',
       'Diet low in whole grains', 'Discontinued breastfeeding', 'Drug use',
       'High body-mass index', 'High fasting plasma glucose',
       'High systolic blood pressure', 'High total cholesterol',
       'Household air pollution from solid fuels', 'Iron deficiency',
       'Low birth weight for gestation', 'Low bone mineral density',
       'Low physical activity', 'No access to handwashing facility',
       'Non-exclusive breastfeeding', 'Outdoor air pollution',
       'Secondhand smoke', 'Smoking', 'Unsafe sanitation', 'Unsafe sex',
       'Unsafe water source', 'Vitamin A deficiency'],
      dtype='object')

In [73]:
#editing the column name
df.columns=["code","Code1","code2","code3","entity","entity1","entity2","entity3","year","year1","year2","year3","air_pollution","air_pollution_total_percentage", "alcohol_use","child_stunting","child_wasting","death_air_pollution1","death_air_pollution2","death_ozone_pollution","death_matter_pollution", "death_household_air_pollution","diet_high_sodium","diet_low_fruits","diet_low_nutsandseeds","diet_low_vegetables","diet_low_wholegrain","discontinued_breastfeeding","drug_use","high_body_mass_index","high_fasting_plasma_glucose","high_blood_pressure","high_cholestrol","household_airpollution_solidfuels","iron_deficiency","low_birth_weight","low_bone_mineral_density","low_physical_activity","no_access_to_handwashing","non_exclusive_breastfeeding","outdoor_air_pollution","secondhand_smoke","smoking","unsafe_sanitation","unsafe_sex","unsafe_water_source","vit_a_deficiency"]
df.columns= df.columns.str.capitalize() #making the only the first letter in uppercase
df.head()

,Code,Code1,Code2,Code3,Entity,Entity1,Entity2,Entity3,Year,Year1,...,Low_physical_activity,No_access_to_handwashing,Non_exclusive_breastfeeding,Outdoor_air_pollution,Secondhand_smoke,Smoking,Unsafe_sanitation,Unsafe_sex,Unsafe_water_source,Vit_a_deficiency
0,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1990,1990.0,...,4221.303183,5412.314513,3221.138842,4383.83,4234.808095,6393.667372,5887.747628,387.167582,7554.049543,9344.131952
1,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1991,1991.0,...,4252.630379,5287.891103,3150.559597,4426.36,4219.597324,6429.253320,5732.770160,394.448285,7359.676749,9330.182378
2,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1992,1992.0,...,4347.330897,5506.657363,3331.349048,4568.91,4371.907968,6561.054957,5954.804987,422.453302,7650.437822,9769.844533
3,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1993,1993.0,...,4465.137670,7104.620351,4477.006100,5080.29,4863.558517,6731.972560,7986.736613,448.328317,10270.731380,11433.769490
4,AFG,AFG,AFG,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,1994,1994.0,...,4566.650504,8051.515953,5102.622054,5499.23,5292.379854,6889.328118,8863.010065,464.506355,11409.177110,12936.955860

In [74]:
df= df.drop(["Code1","Code2","Code3","Entity1","Entity2","Entity3","Year1","Year2","Year3","Death_air_pollution2"], axis=1)

In [75]:
df

,Code,Entity,Year,Air_pollution,Air_pollution_total_percentage,Alcohol_use,Child_stunting,Child_wasting,Death_air_pollution1,Death_ozone_pollution,...,Low_physical_activity,No_access_to_handwashing,Non_exclusive_breastfeeding,Outdoor_air_pollution,Secondhand_smoke,Smoking,Unsafe_sanitation,Unsafe_sex,Unsafe_water_source,Vit_a_deficiency
0,AFG,Afghanistan,1990,26598.006730,13.56,356.529307,10408.438850,22778.849250,299.477309,5.616442,...,4221.303183,5412.314513,3221.138842,4383.83,4234.808095,6393.667372,5887.747628,387.167582,7554.049543,9344.131952
1,AFG,Afghanistan,1991,26379.532220,13.19,320.598461,10271.976430,22292.691110,291.277967,5.603960,...,4252.630379,5287.891103,3150.559597,4426.36,4219.597324,6429.253320,5732.770160,394.448285,7359.676749,9330.182378
2,AFG,Afghanistan,1992,27263.127910,13.05,293.257016,10618.879780,23102.197940,278.963056,5.611822,...,4347.330897,5506.657363,3331.349048,4568.91,4371.907968,6561.054957,5954.804987,422.453302,7650.437822,9769.844533
3,AFG,Afghanistan,1993,30495.561500,12.88,278.129758,12260.093840,27902.669960,278.790815,5.655266,...,4465.137670,7104.620351,4477.006100,5080.29,4863.558517,6731.972560,7986.736613,448.328317,10270.731380,11433.769490
4,AFG,Afghanistan,1994,33323.161400,12.80,250.691569,14197.947960,32929.005930,287.162923,5.718922,...,4566.650504,8051.515953,5102.622054,5499.23,5292.379854,6889.328118,8863.010065,464.506355,11409.177110,12936.955860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,ZWE,Zimbabwe,2013,9593.033931,7.00,7377.878950,1317.296056,7703.062474,143.850145,4.426291,...,802.972841,3913.210510,1037.968042,2053.58,1836.040235,9099.552194,2977.649750,29267.652460,4254.282075,1130.714398
6464,ZWE,Zimbabwe,2014,9387.193480,7.33,7202.134310,1259.989023,7401.059382,138.200536,4.296971,...,800.250463,3809.245683,972.886327,2030.92,1802.275809,8902.223776,2856.426187,22836.672280,4098.769691,1094.267123
6465,ZWE,Zimbabwe,2015,9189.336702,7.45,7174.620088,1205.589945,7100.476546,132.752553,4.200907,...,801.397484,3688.442102,912.248164,1994.91,1774.522841,8818.570004,2717.735794,19332.284740,3921.291358,1068.810953
6466,ZWE,Zimbabwe,2016,9092.577378,7.56,7174.598012,1099.871279,6823.766727,128.692138,4.117173,...,810.425551,3603.179799,875.706009,2030.88,1761.316182,8758.486720,2624.315858,16942.697760,3802.257512,950.215259
6467,ZWE,Zimbabwe,2017,9020.941349,7.67,7227.985209,1021.437703,6609.236886,125.028843,4.052495,...,823.436733,3579.352078,866.902012,2112.19,1755.599784,8714.714332,2612.122560,15014.257910,3796.070615,882.986667

In [76]:
#counting the number of null values if any 
k = df.isna().sum().sum() 
#checking the values column-wise
l = df.isna().sum() 
print(k)
print(l)

10844
Code                                  980
Entity                                  0
Year                                    0
Air_pollution                           0
Air_pollution_total_percentage       1036
Alcohol_use                             0
Child_stunting                          0
Child_wasting                           0
Death_air_pollution1                  980
Death_ozone_pollution                 980
Death_matter_pollution                980
Death_household_air_pollution         980
Diet_high_sodium                        0
Diet_low_fruits                         0
Diet_low_nutsandseeds                   0
Diet_low_vegetables                     0
Diet_low_wholegrain                     0
Discontinued_breastfeeding              0
Drug_use                                0
High_body_mass_index                    0
High_fasting_plasma_glucose             0
High_blood_pressure                     0
High_cholestrol                      4907
Household_airpollution_solidfuels       0
Iron_deficiency                         0
Low_birth_weight                        0
Low_bone_mineral_density                0
Low_physical_activity                   0
No_access_to_handwashing                0
Non_exclusive_breastfeeding             0
Outdoor_air_pollution                   1
Secondhand_smoke                        0
Smoking                                 0
Unsafe_sanitation                       0
Unsafe_sex                              0
Unsafe_water_source                     0
Vit_a_deficiency                        0
dtype: int64

In [77]:
df.dtypes

Code                                  object
Entity                                object
Year                                   int64
Air_pollution                        float64
Air_pollution_total_percentage       float64
Alcohol_use                          float64
Child_stunting                       float64
Child_wasting                        float64
Death_air_pollution1                 float64
Death_ozone_pollution                float64
Death_matter_pollution               float64
Death_household_air_pollution        float64
Diet_high_sodium                     float64
Diet_low_fruits                      float64
Diet_low_nutsandseeds                float64
Diet_low_vegetables                  float64
Diet_low_wholegrain                  float64
Discontinued_breastfeeding           float64
Drug_use                             float64
High_body_mass_index                 float64
High_fasting_plasma_glucose          float64
High_blood_pressure                  float64
High_cholestrol                      float64
Household_airpollution_solidfuels    float64
Iron_deficiency                      float64
Low_birth_weight                     float64
Low_bone_mineral_density             float64
Low_physical_activity                float64
No_access_to_handwashing             float64
Non_exclusive_breastfeeding          float64
Outdoor_air_pollution                float64
Secondhand_smoke                     float64
Smoking                              float64
Unsafe_sanitation                    float64
Unsafe_sex                           float64
Unsafe_water_source                  float64
Vit_a_deficiency                     float64
dtype: object

In [78]:
df= df.drop("High_cholestrol", axis= 1)

In [85]:
mean1 = np.nanmean(df.Death_ozone_pollution)

In [86]:
df["Death_ozone_pollution"]=df["Death_ozone_pollution"].fillna(mean1)

In [87]:
mean2= np.nanmean(df.Death_air_pollution1)

In [88]:
df["Death_air_pollution1"]=df["Death_air_pollution1"].fillna(mean2)

In [91]:
mean3= np.nanmean(df.Death_matter_pollution)

In [92]:
df["Death_matter_pollution"]=df["Death_matter_pollution"].fillna(mean3)

In [93]:
mean4= np.nanmean(df.Death_household_air_pollution)

In [94]:
df["Death_household_air_pollution"]=df["Death_household_air_pollution"].fillna(mean4)

In [95]:
#counting the number of null values if any 
k = df.isna().sum().sum() 
#checking the values column-wise
l = df.isna().sum() 
print(k)
print(l)

2017
Code                                  980
Entity                                  0
Year                                    0
Air_pollution                           0
Air_pollution_total_percentage       1036
Alcohol_use                             0
Child_stunting                          0
Child_wasting                           0
Death_air_pollution1                    0
Death_ozone_pollution                   0
Death_matter_pollution                  0
Death_household_air_pollution           0
Diet_high_sodium                        0
Diet_low_fruits                         0
Diet_low_nutsandseeds                   0
Diet_low_vegetables                     0
Diet_low_wholegrain                     0
Discontinued_breastfeeding              0
Drug_use                                0
High_body_mass_index                    0
High_fasting_plasma_glucose             0
High_blood_pressure                     0
Household_airpollution_solidfuels       0
Iron_deficiency                         0
Low_birth_weight                        0
Low_bone_mineral_density                0
Low_physical_activity                   0
No_access_to_handwashing                0
Non_exclusive_breastfeeding             0
Outdoor_air_pollution                   1
Secondhand_smoke                        0
Smoking                                 0
Unsafe_sanitation                       0
Unsafe_sex                              0
Unsafe_water_source                     0
Vit_a_deficiency                        0
dtype: int64

In [97]:
mode= stat.mode(df.Air_pollution_total_percentage)

In [98]:
df["Air_pollution_total_percentage"]=df["Air_pollution_total_percentage"].fillna(mode)

In [99]:
df

,Code,Entity,Year,Air_pollution,Air_pollution_total_percentage,Alcohol_use,Child_stunting,Child_wasting,Death_air_pollution1,Death_ozone_pollution,...,Low_physical_activity,No_access_to_handwashing,Non_exclusive_breastfeeding,Outdoor_air_pollution,Secondhand_smoke,Smoking,Unsafe_sanitation,Unsafe_sex,Unsafe_water_source,Vit_a_deficiency
0,AFG,Afghanistan,1990,26598.006730,13.56,356.529307,10408.438850,22778.849250,299.477309,5.616442,...,4221.303183,5412.314513,3221.138842,4383.83,4234.808095,6393.667372,5887.747628,387.167582,7554.049543,9344.131952
1,AFG,Afghanistan,1991,26379.532220,13.19,320.598461,10271.976430,22292.691110,291.277967,5.603960,...,4252.630379,5287.891103,3150.559597,4426.36,4219.597324,6429.253320,5732.770160,394.448285,7359.676749,9330.182378
2,AFG,Afghanistan,1992,27263.127910,13.05,293.257016,10618.879780,23102.197940,278.963056,5.611822,...,4347.330897,5506.657363,3331.349048,4568.91,4371.907968,6561.054957,5954.804987,422.453302,7650.437822,9769.844533
3,AFG,Afghanistan,1993,30495.561500,12.88,278.129758,12260.093840,27902.669960,278.790815,5.655266,...,4465.137670,7104.620351,4477.006100,5080.29,4863.558517,6731.972560,7986.736613,448.328317,10270.731380,11433.769490
4,AFG,Afghanistan,1994,33323.161400,12.80,250.691569,14197.947960,32929.005930,287.162923,5.718922,...,4566.650504,8051.515953,5102.622054,5499.23,5292.379854,6889.328118,8863.010065,464.506355,11409.177110,12936.955860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,ZWE,Zimbabwe,2013,9593.033931,7.00,7377.878950,1317.296056,7703.062474,143.850145,4.426291,...,802.972841,3913.210510,1037.968042,2053.58,1836.040235,9099.552194,2977.649750,29267.652460,4254.282075,1130.714398
6464,ZWE,Zimbabwe,2014,9387.193480,7.33,7202.134310,1259.989023,7401.059382,138.200536,4.296971,...,800.250463,3809.245683,972.886327,2030.92,1802.275809,8902.223776,2856.426187,22836.672280,4098.769691,1094.267123
6465,ZWE,Zimbabwe,2015,9189.336702,7.45,7174.620088,1205.589945,7100.476546,132.752553,4.200907,...,801.397484,3688.442102,912.248164,1994.91,1774.522841,8818.570004,2717.735794,19332.284740,3921.291358,1068.810953
6466,ZWE,Zimbabwe,2016,9092.577378,7.56,7174.598012,1099.871279,6823.766727,128.692138,4.117173,...,810.425551,3603.179799,875.706009,2030.88,1761.316182,8758.486720,2624.315858,16942.697760,3802.257512,950.215259
6467,ZWE,Zimbabwe,2017,9020.941349,7.67,7227.985209,1021.437703,6609.236886,125.028843,4.052495,...,823.436733,3579.352078,866.902012,2112.19,1755.599784,8714.714332,2612.122560,15014.257910,3796.070615,882.986667

In [100]:
df["Code"]=df["Code"].fillna("others")

In [101]:
df

,Code,Entity,Year,Air_pollution,Air_pollution_total_percentage,Alcohol_use,Child_stunting,Child_wasting,Death_air_pollution1,Death_ozone_pollution,...,Low_physical_activity,No_access_to_handwashing,Non_exclusive_breastfeeding,Outdoor_air_pollution,Secondhand_smoke,Smoking,Unsafe_sanitation,Unsafe_sex,Unsafe_water_source,Vit_a_deficiency
0,AFG,Afghanistan,1990,26598.006730,13.56,356.529307,10408.438850,22778.849250,299.477309,5.616442,...,4221.303183,5412.314513,3221.138842,4383.83,4234.808095,6393.667372,5887.747628,387.167582,7554.049543,9344.131952
1,AFG,Afghanistan,1991,26379.532220,13.19,320.598461,10271.976430,22292.691110,291.277967,5.603960,...,4252.630379,5287.891103,3150.559597,4426.36,4219.597324,6429.253320,5732.770160,394.448285,7359.676749,9330.182378
2,AFG,Afghanistan,1992,27263.127910,13.05,293.257016,10618.879780,23102.197940,278.963056,5.611822,...,4347.330897,5506.657363,3331.349048,4568.91,4371.907968,6561.054957,5954.804987,422.453302,7650.437822,9769.844533
3,AFG,Afghanistan,1993,30495.561500,12.88,278.129758,12260.093840,27902.669960,278.790815,5.655266,...,4465.137670,7104.620351,4477.006100,5080.29,4863.558517,6731.972560,7986.736613,448.328317,10270.731380,11433.769490
4,AFG,Afghanistan,1994,33323.161400,12.80,250.691569,14197.947960,32929.005930,287.162923,5.718922,...,4566.650504,8051.515953,5102.622054,5499.23,5292.379854,6889.328118,8863.010065,464.506355,11409.177110,12936.955860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,ZWE,Zimbabwe,2013,9593.033931,7.00,7377.878950,1317.296056,7703.062474,143.850145,4.426291,...,802.972841,3913.210510,1037.968042,2053.58,1836.040235,9099.552194,2977.649750,29267.652460,4254.282075,1130.714398
6464,ZWE,Zimbabwe,2014,9387.193480,7.33,7202.134310,1259.989023,7401.059382,138.200536,4.296971,...,800.250463,3809.245683,972.886327,2030.92,1802.275809,8902.223776,2856.426187,22836.672280,4098.769691,1094.267123
6465,ZWE,Zimbabwe,2015,9189.336702,7.45,7174.620088,1205.589945,7100.476546,132.752553,4.200907,...,801.397484,3688.442102,912.248164,1994.91,1774.522841,8818.570004,2717.735794,19332.284740,3921.291358,1068.810953
6466,ZWE,Zimbabwe,2016,9092.577378,7.56,7174.598012,1099.871279,6823.766727,128.692138,4.117173,...,810.425551,3603.179799,875.706009,2030.88,1761.316182,8758.486720,2624.315858,16942.697760,3802.257512,950.215259
6467,ZWE,Zimbabwe,2017,9020.941349,7.67,7227.985209,1021.437703,6609.236886,125.028843,4.052495,...,823.436733,3579.352078,866.902012,2112.19,1755.599784,8714.714332,2612.122560,15014.257910,3796.070615,882.986667